.container-kitchencard{
    width: 60%;
    height: 100%;
    margin: 5rem auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 30px;
    
    
}

.style-card{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    box-shadow: 5px 15px 10px #8d8d8d;
}

.container-kitchencard img{
    width: 100%;
}
