.container-livingroomcard{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.container-livingroomcard img{
    width: 400px;
    height: 500px;
    align-items: center;
}
