.container-allmatchfurniture{
    width: 100%;
    height: 100%;
    margin: 5rem auto;
    margin-right: 2rem;
}

.container-matchfurniture {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 30px;
}

.container-matchfurniture img{
    width: 100%;
}

.container-title-matchfurniture{
    margin-left: 10rem;
    margin-bottom: 5rem;
}

.style-furnitureCard{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    box-shadow: 5px 15px 10px #8d8d8d;
    cursor: pointer;
}

