.style-room-idea-card{
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
}

.room-idea-tittle{
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 35px;
}

hr{
    border-width: 1.5px;
}

.style-room-idea-card img{
    
    width: 400px;
}

.container-roomideascard {
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 30px;
}