body{
  padding: 30px;
}
.header-container{
  margin-bottom: 120px;
  width: 100%;
  height: 90px;
}
.image-showroom{
  opacity: 0.6;
  width: 100%;
  background-size: cover;
  
}

.image-showroom-container{
  position: relative;
}

.image-showroom-container h1{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 80px;
  margin-top: -13px; /* 1/2 height */
  text-align: center;
}

a:link{
  text-decoration: none;
}

